.Cells {
    display: flex;
    flex-direction: column;
}

.Cells .row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    height: 70px;
    margin-bottom: 2px;
}

.Cells .row > div {
    width: 14%;
    margin: 2px;
    height: 95%;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.Cells .row > div[class*=Date]:hover {
    cursor: pointer;
    background-color: rgb(243, 197, 181);
    box-shadow: 1px 1px 2px rgb(203, 172, 162);
}

.Cells .row > div[class*=weekend] {
    color: red;
}

.Cells .row > div > span {
    margin-left: 5px;
}

.Cells .row > div[class*=hasTodo] .note {
    /* width: 18px;
    height: 6px;
    background-color: #1E90FF;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;  
    border-radius: 1px; */

    /* width: 60px;
    height: 20px;
    transform: rotate(-15deg);
    top: 10px;
    left: 10px;
    background-color: #ffcccb; */
    
    width: 30px;
    height: 10px;
    background-color: #ffcccb;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
