.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 20px;
}

.Header .header_logo {
    padding-left: 20px;
    font-family: "Playwrite BE VLG";
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

.header_button {
    display: flex; 
    gap: 30px;
}
