.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e2e2e2;
}

.Header .header_logo {
    font-family: "Playwrite BE VLG";
    font-size: 24px;
    padding-left: 20px;
    text-decoration: none;
    color: inherit;
}

.header_button {
    display: flex; 
    gap: 30px;
}

